*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
/app/src/main/java/com/league/leaguestats/data/rank/RankData.kt
/app/src/main/java/com/league/leaguestats/data/rank/RankDataRepository.kt
